<link rel="stylesheet" href="/css/home.css" />

<div class="container-fluid container-base w-75">
    <div class="d-flex flex-wrap justify-content-center mb-3 align-items-center">
        <div>
            <label for="selectTrendDate" class="mr-3">
                Display the trends corresponding to the date :
            </label>
        </div>
        <div>
            <select id="selectTrendDate" class="selectpicker" data-live-search="true"
                data-live-search-placeholder="Filter (example: 02/2020)" onchange="update(this.value);">
                {{#each finalTrendList}}
                <optgroup label="{{dateFormated}}">
                    {{#each trendList}}
                    <option data-tokens="{{dateFormated}}" value="{{date}}" title="{{dateTimeFormated}}">
                        {{hourFormated}}</option>
                    {{/each}}
                </optgroup>
                {{/each}}
            </select>
        </div>
    </div>

    <div id="trends">

    </div>
</div>

<!-- Template -->
<div id="cardTemplate" class="card d-flex" style="display: none; width: 322px;">
    <a class="videoLink" href=""><img class="thumbnail" src="" style="width: 320px; height: 180px;" alt="Thumbnail"></a>
    <div>
        <span class="mdi mdi-medal"><span class="position"></span></span>
    </div>
    <div class="card-body">
        <a class="videoLink" href="">
            <h6 class="videoTitle max-lines-2"></h6>
        </a>
    </div>
    <div class="card-footer remove-footer infos d-flex justify-content-between">
        <div class="infos-channelTitle">
            <a class="channelLink" href="">
                <span class="channelTitle text-truncate text-muted"></span>
            </a>
        </div>
        <div class="infos-videoDate text-right">
            <span class="videoDate text-muted"></span>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-stats">
            <div>
                <span class="mdi mdi-thumb-up"></span><span class="likeCount"></span>
            </div>
            <div>
                <span class="mdi mdi-eye"></span><span class="viewCount"></span>
            </div>
            <div>
                <span class="mdi mdi-thumb-down"></span><span class="dislikeCount"></span>
            </div>
        </div>
    </div>
</div>

<script src="/js/home_s.js"></script>