<div class="container-fluid container-base w-75">
    <div class="form-group row">
        <label for="selectTrendDate" class="col-sm-4 col-form-label">
            Display the trends corresponding to the date :
        </label>
        <div class="col-sm-8">
            <select id="selectTrendDate" class="selectpicker" data-live-search="true"
                data-live-search-placeholder="Filter (example: 02/2020)" onchange="update(this.value);">
                {{#each finalTrendList}}
                <optgroup label="{{dateFormated}}">
                    {{#each trendList}}
                    <option data-tokens="{{dateFormated}}" value="{{date}}" title="{{dateTimeFormated}}">
                        {{hourFormated}}</option>
                    {{/each}}
                </optgroup>
                {{/each}}
            </select>
        </div>
    </div>

    <div id="trends">

    </div>
</div>

<!-- Template -->
<div id="cardTemplate" class="card" style="display: none; width: 286px;">
    <img class="thumbnail" src="" style="width: 286px; height: 180px;" alt="Thumbnail">
    <div class="card-body">
        <a class="videoLink" href=""><h6 class="videoTitle card-title"></h6></a>
        <a class="channelLink" href=""><h6 class="channelTitle card-subtitle mb-2 text-muted"></h6></a>
        <p class="card-text">
        </p>
    </div>
</div>

<script src="/js/home_s.js"></script>