<div class="container-fluid container-base w-75">
    <form action="/statistics/stats" method="POST"
        class="d-flex flex-wrap justify-content-center mb-3 align-items-center">
        <div class="mt-1">
            <label class="ml-5 mr-3">
                Time interval :
            </label>
        </div>

        <div class="mt-1">
            <select id="dateStart" name="dateStart" class="selectpicker" data-live-search="true"
                data-live-search-placeholder="Filter (example: 02/2020)" onchange="updateStart(this.value);">
                {{#each startTrendList}}
                <option value="{{date}}" title="{{dateFormated}}">{{dateFormated}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mt-1">
            <select id="dateEnd" name="dateEnd" class="ml-3 mr-3 selectpicker" data-live-search="true"
                data-live-search-placeholder="Filter (example: 02/2020)">
                {{#each endTrendList}}
                <option value="{{date}}" title="{{dateFormated}}">{{dateFormated}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mt-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script src="/js/stats/select.js"></script>